{% if site.enable_publication_citations %}
  {% assign show_altmetric = false %}
  {% if entry.altmetric and entry.altmetric != 'false' %}
    {% assign show_altmetric = true %}
  {% elsif entry.doi or entry.arxiv or entry.pmid or entry.isbn %}
    {% assign show_altmetric = true %}
  {% endif %}

  {% if show_altmetric %}
    <div class="citation-count">
      <span
        class="altmetric-embed"
        data-badge-type="donut"
        data-badge-popover="right"
        data-hide-no-mentions="false"
        {% if entry.altmetric != blank and entry.altmetric != 'true' and entry.altmetric != 'false' %}
          data-altmetric-id="{{ entry.altmetric }}"
        {% elsif entry.doi %}
          data-doi="{{ entry.doi }}"
        {% elsif entry.arxiv %}
          data-arxiv-id="{{ entry.arxiv }}"
        {% elsif entry.eprint %}
          data-arxiv-id="{{ entry.eprint }}"
        {% elsif entry.pmid %}
          data-pmid="{{ entry.pmid }}"
        {% elsif entry.isbn %}
          data-isbn="{{ entry.isbn }}"
        {% endif %}
      ></span>
    </div>
  {% endif %}
{% endif %}
